/* ================================
  CARDS
   ================================ */
#cards {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  overflow-y: auto;
}
.card {
margin: auto;
min-width: 300px;
width: 90%;
}
.card,
.project {
  background: var(--bg-mid);
  padding: 20px;
  border-radius: var(--radius);
  margin: 20px auto;
  box-shadow: var(--shadow);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover,
.project:hover{
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
}
#tags {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
}
.tag {
  flex: 1;
  background: var(--bg-mid);
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  min-width: 50px;
}
.tag p {
  padding: 0;
  margin: 0;
}
.tag p span {
  font-weight: bold;
  color: var(--accent);
}

details {
  width: auto;
  position: sticky;
  top: 50px;
  left: 0;
  z-index: 1;
  background-color: #021b40;
  margin: 0 auto;
  border-radius: 20px;
}
details a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  border: 1px dotted #ffe600;
  margin: 2px;
  border-radius: 50px;
  padding: 5px;
}
details a:hover {
  color: #ffe600;
}
summary {
  border: 2px solid white;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}
summary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* ================================
   RESPONSIVE
   ================================ */

@media (max-width: 700px) {
  nav {
    gap: 12px;
  }

  nav a {
    font-size: 14px;
  }

  #hero {
    padding: 35px 15px;
  }

  .card {
    width: 90%;
  }
}
@media (max-width: 800px) {
  #cards {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card {
    width: 85vw;
    margin: 10px auto;
  }
}
