#cards {
  margin: 20px 10px;
  display: flex;
  justify-content: space-evenly;
}
.card {
  background-color: #0253b5;
  color: #ffffff;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  margin: 40px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease-in;
}
.card h2 {
  color: #fff;
}
.card p span {
  font-weight: bolder;
  font-size: larger;
  color: #ffeb3b;
}
.card:hover {
  transform: scale(1.04);
}
@media (max-width: 800px) {
  #cards {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card {
    width: 85vw;
    margin: 10px auto;
  }
}

/*For projects cards*/
.project,
.faridatDescription {
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: all 0.7s ease;
}
.project:hover,
.faridatDescription:hover {
      transform: translateY(-6px);
      box-shadow: 0 0 25px rgba(255,255,255,0.2);}