#site-title {
  display: none;
}

@media (max-width: 600px) {
  #site-title {
    display: inline-block;
      font-size: 1.5rem;
  font-weight: bold;
  color: #ffeb3b;
  text-shadow: 0 0 8px #ffeb3b;
  }
  #menuIcon span,
  #cancelIcon span {
    background-color: beige;
    width: 30px;
    height: 5px;
    border-radius: 20px;
  }
  #menuIcon,
  #cancelIcon {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 20px;
    margin-right: auto;
  }
  #middlebar {
    display: none;
  }
  #topbar {
    transform: rotate(45deg) translate(6px);
  }
  #bottombar {
    transform: rotate(-45deg) translate(6px);
  }
  #cancelIcon {
    margin: 20px 0 0 20px;
  }
  #sidebar {
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(135deg, #021b40, #0769e0, #021b40);
    z-index: 2000;
    border-radius: 10px;
    cursor: pointer;
  }
  #sidebar.show {
    display: block ;
  }
  #sidebar nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }
  header nav {
    display: none;
  }
  header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
#sidebar {
  display: none;
}
