
html, body {
  line-height: 1.5;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
background: #1e1e1e;
  color: rgb(255, 255, 255);
}
header h1 {
  border-bottom: 2px solid #696969;
  padding-left: 10px;
}
nav#navbar {
  position:fixed;
  border-right: 3px solid #696969;
  margin-right: 10px;
  top:0;
  left: 0;
  height: 100vh;
  width: 250px
}
#navbar a {
  display: block;
  text-decoration: none;
  font-size: 18px;
color: #7fffe1;
padding: 0 10px;
border-bottom: 2px solid 
}
#main-doc {
  margin-left: 250px;
  padding: 20px;
}

code {
  background: #D3D3D3;
  color: blue;
  padding: 4px;
  border-radius: 5px;
}
@media (max-width:600px) {
  nav#navbar {
         position: absolute;
         width: 100%;
         height: 230px;
  }
  #main-doc {
  margin: 230px 10px 0 ;
  padding: 0;
}
}
